################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
BlazorApp/bin/
BlazorApp/obj/
SpeeDine.Backend/bin/
SpeeDine.Backend/obj/