@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #FFFAEA;
}

p {
    font-size: 16px;
}


/* Fixed bottom */
.fixed-bottom {
    background: #FFFAEA;
    width: 100%;
    -webkit-box-shadow: rgb(14 30 37 / 12%) 0px 2px 4px 0px, rgb(14 30 37 / 22%) 0px 2px 16px 0px;
    box-shadow: rgb(14 30 37 / 12%) 0px 2px 4px 0px, rgb(14 30 37 / 22%) 0px 2px 16px 0px;
    padding: .5rem 1rem;
}

/* Button Styling */

button {
    background: transparent;
    border: none;
}

    button:focus {
        border: none;
        outline: none;
    }

.red-button {
    transition: all .2s ease;
    background: #F4A0A0;
    font-size: large;
}

    .red-button:enabled:active {
        transform: scale(0.92);
        background: #de6f6f;
    }

    .red-button:disabled {
        filter: brightness(0.8);
        /*opacity: 0.;*/
    }

/* Overriding toast styling*/
.blazored-toast {
    border-radius: 1rem !important;
    z-index: 999 !important;
    width: 95vw !important;
    margin: 1rem !important;
}

.blazored-toast-container {
    z-index: 999 !important;
}

.blazored-toast-info {
    background: rgba(94, 93, 93, 0.90) !important;
}

.blazored-toast-heading {
    color: transparent !important;
    line-height: 0px !important;
}

.blazored-toast-message {
    font-size: 14px !important;
    text-align: center;
}
/* Checkboxes Styling */
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: 0;
    opacity: 0.01;
}

    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
        position: relative;
        padding-left: 2.5em;
        font-size: 16px;
        line-height: 2.75;
        cursor: pointer;
    }

        /* checkbox aspect */
        [type="checkbox"]:not(:checked) + label:before,
        [type="checkbox"]:checked + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0.2em;
            width: 2em;
            height: 2em;
            border: 1px solid #aaa;
            background: #FFF;
            border-radius: .2em;
            box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
            -webkit-transition: all .275s;
            transition: all .275s;
        }

        /* checked mark aspect */
        [type="checkbox"]:not(:checked) + label:after,
        [type="checkbox"]:checked + label:after {
            content: '✓';
            position: absolute;
            top: 1em;
            left: 0.4em;
            font-size: 1.375em;
            color: #de6f6f;
            line-height: 0;
            -webkit-transition: all .2s;
            transition: all .2s;
        }

        /* checked mark aspect changes */
        [type="checkbox"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0) rotate(45deg);
            transform: scale(0) rotate(45deg);
        }

        [type="checkbox"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
        }


a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
    background: #FFFAEA;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
