
/** Cart */
h1 {
    margin-top: 0;
    text-align: center;
}

.edit-button {
    max-width: 3.5rem;
    height: auto;
    background: transparent;
    border: none;
    align-self: flex-end;
}

.remove-btn {
    max-width: 5rem;
    height: auto;
    background: transparent;
    border: none;
    font-weight: bold;
    float: right;
    font-size: 25px;
    transition: all .2s ease;
}
    .remove-btn:active {
        transform: scale(0.92);
    }

.quantity-container {
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: left;
    padding: 0.5rem;
}

.quantity-button {
    background: #F4A0A0;
    color: inherit;
    font-weight: bold;
    font-size: inherit;
    border: none;
    display: inline-block;
    min-width: 3rem;
    height: 3rem;
    font-size: 2rem;
    line-height: 0;
    transition: all .2s ease;
}
    .quantity-button:active {
        transform: scale(0.92);
        background: #de6f6f;
    }

    .quantity-button:disabled {
        filter: brightness(0.8);
        /*opacity: 0.;*/
    }

input[type="number"] {
    width: 5rem;
    display: inline-block;
    text-align: center;
    appearance: textfield;
    font-size: 16px;
    font-weight: bold;
}

.guest-name {
    font-size: 25px;
}

.details {
    background: #F5DC6E;
}

.place-order-btn {
    font-size: 30px;
    width: 100%;
    padding: 2rem 1rem;
    background: #F4A0A0;
    transition: all .2s ease;
    font-weight: bold;
}
    .place-order-btn:active {
        transform: scale(0.92);
        background: #de6f6f;
    }

    .place-order-btn:disabled {
        filter: brightness(0.8);
        /*opacity: 0.;*/
    }

.cart {
    padding-top: 0;
    padding-bottom: 100px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.row {
    margin: 0;
    flex-wrap: nowrap;
}

.cart-item {
    background: #F5DC6E;
    margin: 1rem 0;
    border-radius: .5rem;
    -webkit-box-shadow: 0 6px 3px -4px #00000020;
    box-shadow: 0 6px 3px -4px #00000020;
    min-height: 15vh;
}

.cart-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart-item img {
    width: 40%;
    height: auto;
    border-radius: .5rem;
    margin: 0 auto;
    margin-right: 0.5rem;
}

/* Empty screen */
.empty {
    text-align: center;
    color: #575757;
}

    .empty.centered {
        position: absolute;
        top: 40vh;
    }

    .empty span {
        font-size: 30px;
    }

/*Food details Popup*/
.black-overlay-popup {
    background: #00000080;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 200;
}

.food-details-popup {
    overflow-y: auto;
    height: 90%;
    bottom: 0;
    right: 0;
    position: fixed;
    padding: 1rem;
    background: #FFFAEA;
    z-index: 10000;
    border-radius: 1rem 1rem 0 0;
    animation: .7s slide-up;
    margin-top: 0%;
    width: 100vw;
}

@keyframes slide-up {
    from {
        height: 0%;
    }

    to {
        height: 90%;
    }
}


@media screen and (min-width:768px) {
    ::-webkit-scrollbar {
        height: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #FFFAEA;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 1rem;
    }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
}
