@page "/order/EntireBill"

@inject NavigationManager navigationManager
@inject MenuRepository MenuRepo  
@inject Table Table
@inject User User

<div class = 'entire_bill_popup__container'>
    <i class="fa-regular fa-xmark-large"> </i>
    <div class = 'entire_bill__text'>
        YOUR TABLE'S BILL
    </div>
    <div class = 'entire_bill_items__container'>
        <div class = 'item_names' style = 'overflow-y:scroll;'>
            @foreach(var user in Table.GuestList)
            {
                @foreach(var orderItem in user.Orders) 
                {
                    @for (var num = 0; num < orderItem.Quantity; num++)
                    {
                        <div class = 'item_description'>
                            <h5>@orderItem.MenuItem.Name</h5>
                        </div>
                        <div class = 'item_price'>
                            <h5>$@orderItem.MenuItem.Price</h5>
                        </div>
                    }
                }
            }
        </div>
        <div class = 'buttons'>
            <div class = 'subtotal__container'>
                <span class = 'subtotal_name'>Subtotal: </span>
                <span class = 'subtotal_total'>$@string.Format("{0:N2}", @TableCost())</span>
            </div>
            @* Add the pop-up to Confirm button pls!*@
            <button class = 'confirm_button'>Confirm</button>       
            <button class = 'go_back_button' @onclick = "revertBackToSite">Go Back</button>       
        </div>
    </div>
</div>

@code {
    double total;
    private double TableCost()
    {
        total = 0.0;
        foreach(var user in Table.GuestList)
        {
            foreach(var cartItem in user.Orders) {
                total+=cartItem.MenuItem.Price*cartItem.Quantity;
            }
        }
        return total;
    }

    private void revertBackToSite() {
        navigationManager.NavigateTo("/order");
    }
}