@page "/order/EntireBill"

@inject NavigationManager navigationManager
@inject MenuRepository MenuRepo  
@inject Table Table
@inject User User
@inject IModalService Modal

<button @onclick=revertBackToSite>
    <span class="iconify" data-icon="ep:back" data-width="40" data-height="40"></span>
    Back to Ordered
</button>
<div class = 'entire_bill_popup__container'>
    <i class="fa-regular fa-xmark-large"> </i>
    <h1> Your Bill</h1>
    <div class = 'entire_bill_items__container'>
        <div class = 'item_names' style = 'overflow-y:scroll;'>
            @foreach(var user in Table.GuestList)
            {
                @foreach(var orderItem in user.Orders) 
                {
                    @for (var num = 0; num < orderItem.Quantity; num++)
                    {
                        <div class = 'item_description'>
                            <h5>@orderItem.MenuItem.Name</h5>
                        </div>
                        <div class = 'item_price'>
                            <h5>$@string.Format("{0:N2}", @orderItem.MenuItem.Price)</h5>
                        </div>
                    }
                }
            }
        </div>
        <div class = 'buttons'>
            <div class = 'subtotal__container'>
                <span class = 'subtotal_name'>Subtotal: </span>
                <span class = 'subtotal_total'>$@string.Format("{0:N2}", @TableCost())</span>
            </div>
             
        </div>
    </div>
     @* Add the pop-up to Confirm button pls!*@
            <button class = 'confirm_button' @onclick='ProceedToPayment'>Proceed To Payment</button>     
</div>


@code {
    double total;
    private double TableCost()
    {
        total = 0.0;
        foreach(var user in Table.GuestList)
        {
            foreach(var cartItem in user.Orders) {
                total+=cartItem.MenuItem.Price*cartItem.Quantity;
            }
        }
        return total;
    }

    private void revertBackToSite() {
        navigationManager.NavigateTo("/order");
    }


    private async void ProceedToPayment()
    {
        await ToggleTransition();
        navigationManager.NavigateTo("/order/Payment");
    }

    private async Task ToggleTransition()
    {
        await Task.Delay(300);
    }
}