img {
    width: 100%;
    border-radius: 0.5rem;
}

button {
    background: transparent;
    border: none;
}

button:focus {
    border: none;
    outline: none;
}

.fixed-bottom {
    border-radius: 1rem;
    height: 4rem;
    background: #F4A0A0;
    margin: .5rem;
}

.content {
    margin-bottom: 5rem;
}