img {
    width: 100%;
    border-radius: 0.5rem;
}

button {
    background: transparent;
    border: none;
}

button:focus {
    border: none;
    outline: none;
}

.red-button {
    transition: all .2s ease;
    background: #F4A0A0;
}
    .red-button:active {
        transform: scale(0.92);
        background: #de6f6f;
    }
    .red-button:disabled {
        filter: brightness(0.8);
        /*opacity: 0.;*/
    }

.fixed-bottom {
    background: #FFFAEA;
    width: 100%;
    -webkit-box-shadow: rgb(14 30 37 / 12%) 0px 2px 4px 0px, rgb(14 30 37 / 22%) 0px 2px 16px 0px;
    box-shadow: rgb(14 30 37 / 12%) 0px 2px 4px 0px, rgb(14 30 37 / 22%) 0px 2px 16px 0px;
    padding: .5rem 1rem;
}

.cart-button {
    margin: .5rem 0;
    border-radius: 1rem;
    height: 4rem;
    background: #F4A0A0;
    width: 100%;
}


h3 {
    margin-top: 10px;
}

.content {
    margin-bottom: 5rem;
    height: 80%;
    padding: .5rem;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.subtitle {
    opacity: 80%;
    margin-left: .8rem;
}

.mandatory-star {
    color: #EF8A8A;
    font-size: 2rem;
}

#instructions-field {
    border-radius: 0.5rem;
    min-height: 2rem;
    width: 100%;
    padding: .5rem;
}

.quantity-container {
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}

.quantity-button {
    background: #F4A0A0;
    color: inherit;
    font-weight: bold;
    font-size: inherit;
    border: none;
    display: inline-block;
    min-width: 3rem;
    height: 3rem;
    border-radius: 100%;
    margin: 0rem 2rem;
    font-size: 2rem;
}

#increase {
    line-height: 1.6;
}

#decrease {
    line-height: 0;
}

input[type="number"] {
    width: 5rem;
    display: inline-block;
    text-align: center;
    appearance: textfield;
}

    input[type="number"] ::-webkit-outer-spin-button,
    input[type="number"] ::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
    }

/* Radio Button Styling */
/* Base for label styling */
[type="radio"]:not(:checked),
[type="radio"]:checked {
    position: absolute;
    left: 0;
    opacity: 0.01;
}

    [type="radio"]:not(:checked) + label,
    [type="radio"]:checked + label {
        position: relative;
        padding-left: 2.3em;
        font-size: 1.1em;
        line-height: 1.8;
        cursor: pointer;
    }

        /* checkbox aspect */
        [type="radio"]:not(:checked) + label:before,
        [type="radio"]:checked + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 1.4em;
            height: 1.4em;
            border: 1px solid #aaa;
            background: #FFF;
            border-radius: 50%;
            box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
            -webkit-transition: all .275s;
            transition: all .275s;
        }

        /* checked mark aspect */
        [type="radio"]:not(:checked) + label:after,
        [type="radio"]:checked + label:after {
            width: 0.6em;
            height: 0.6em;
            border-radius: 50%;
            content: '';
            position: absolute;
            top: 0.2em;
            left: 0.2em;
            font-size: 1.375em;
            color: #de6f6f;
            line-height: 0;
            -webkit-transition: all .2s;
            transition: all .2s;
            background: #de6f6f;
        }

        /* checked mark aspect changes */
        [type="radio"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0) rotate(45deg);
            transform: scale(0) rotate(45deg);
        }

        [type="radio"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
        }