

ul
{
    padding: 0;
    margin: 0;
    list-style: none;
}

.row 
{ 
    margin: 0;
    flex-wrap: nowrap;
}

.menu-item {
    background: #FCE5CD;
    margin: 1rem 0;
    border-radius: .5rem;
}

.menu-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-item img {
    width: 40%;
    height: auto;
    border-radius: .5rem;
    margin: 0 auto;
    margin-right: 0.5rem;
}