
/** Menu */
h1
{
    margin-top: 0;
}

.menu
{
    padding-top: 5rem;
    padding-bottom: 10rem;
    height: 100%;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.row 
{ 
    margin: 0;
    flex-wrap: nowrap;
}

.menu-item {
    background: #FCE5CD;
    margin: 1rem 0;
    border-radius: .5rem;
    -webkit-box-shadow: 0 6px 3px -4px #00000020;
    box-shadow: 0 6px 3px -4px #00000020;
    min-height: 15vh;
    display: flex;
    flex-direction: column;
}

.menu-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    transition: all 0.2s ease;
    padding: 0.5rem;
}
    .menu-item-container:active {
        background: inherit;

        transform: scale(0.92);
        filter: brightness(.8);
        border-radius: 1rem;
        transition: all .2s ease;
    }

.menu-item img {
    width: 35vw;
    height: 20vh;
    border-radius: 0.5rem;
    margin: 0 auto;
    align-self: flex-start;
    object-fit: cover;
}

.menu-item-details {
    padding: 0.5rem;
    flex-grow: 1;
    align-self: baseline;
}



button {
    background: transparent;
    border: none;
}

button:focus {
    border:none;
    outline: none;
}

/* Pinned */
.pin-button {
    background: transparent;
    border: none;
    opacity: 50%;
    z-index: 5;
    margin-top: -1rem;
    align-self: end;
    padding: 0.5rem 1rem;
    padding-top: 0;
}

.pinned {
    opacity: 100%;
    color: #de6f6f;
}

.empty {
    text-align: center;
    color: #575757;
}

    .empty.centered {
        position: absolute;
        top: 40vh;
    }

.empty span {
    font-size: 30px;
}

/** Categories */
.category-bar {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    background: #FFFAEA;
    margin-top: -1.1rem;
    height: 5rem;
    z-index: 104;
}

.left-arrow, .right-arrow {
    background: transparent;
    border: none;
    font-size: 3rem;
}

.scroll-categories {
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar
}

.scroll::-webkit-scrollbar {
    display: none;
}

.categories {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.category {
    padding: 0.5rem 1rem;
    margin: 1rem .5rem;
    background: #F4A0A0;
    border-radius: 2rem;
    cursor: pointer;
    transition: all .2s ease;
    font-size: 16px;
}
input[type="radio"]:checked + .category {
    background: #de6f6f;
}

input[type="radio"]:active + .category {
    transform: scale(0.92);
    background: #de6f6f;
}


/*filter*/
.filter-container {
    float: right;
    position: relative;
}


.filter-button {
    position: relative;
    float: right;
    font-size: 1.2em;
    /*position: fixed;*/
}

.clear-all-button {
    float: right;
    font-weight: bold;
    color: #de6f6f;
    font-size: 16px;
}

.filter-number {
    height: 2rem;
    width: 2rem;
    padding: 0.2rem;
    background-color: #F4A0A0;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    position: absolute;
    top: -2px;
    right: 0;
}

.filter-popup {
    background: white;
    padding: 1.5rem;
    border-radius: 1rem;
    position: absolute;
    right: 0;
    top: 3rem;
    float: left;
    clear: both;
    margin: 1rem;
    z-index: 102;
    width: 75vw;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.outside-filter-popup{
    position: absolute;
    width: 95%;
    height: 100%;
    display: hidden;   
}


/*Food details Popup*/
.black-overlay-popup {
    background: #00000080;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 200;
}

.food-details-popup {
    overflow-y: auto;
    height: 90%;
    bottom: 0;
    right: 0;
    position: fixed;
    padding: 1rem;
    background: #FFFAEA;
    z-index: 202;
    border-radius: 1rem 1rem 0 0;
    width: 100vw;
    animation: .7s slide-up;
    margin-top: 0%;
}


@keyframes slide-up {
    from {
        height: 0%;
    }

    to {
        height: 90%;
    }
}


/*Cart Accordion*/
.cart-accordion {
    background: #FFFAEA;
    width: 100%;
    -webkit-box-shadow: rgb(14 30 37 / 22%) 0px 2px 4px 0px, rgb(14 30 37 / 22%) 0px 2px 16px 0px;
    box-shadow: rgb(14 30 37 / 22%) 0px 2px 4px 0px, rgb(14 30 37 / 22%) 0px 2px 16px 0px;
    padding: 0;
    z-index: 100;
    border-radius: 1rem 1rem 0 0;
    transition: all 1s ease;
}

.caret-icon {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}

.accordion-button {
    width: 100%;
    padding: 0.5rem 1rem;
    background: #F4A0A0;
    border-radius: 1rem 1rem 0 0;
}

.accordion-list {
    padding: 0.5rem 1rem;
    transition: max-height 0.3s ease;
    max-height: 0;
    margin: 0;
    padding: 0;
    padding: 0rem 1rem;
    background: #FEF6DD;
}

    .accordion-list::before {
        content: '';
        display: block;
        height: 1rem;
    }

    .accordion-list::after {
        content: '';
        display: block;
        height: 1rem;
    }

.show {
    max-height: 10rem;
}

.cart-item {
    border: 1px solid #c4bebb;
    padding: 0.5rem;
    background: #FFFAEA;
    border-radius: 1rem;
    margin-bottom: 5px;
    text-align: center;
}


@media screen and (min-width:768px) {
    :: -webkit-scrollbar {
        height: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #FFFAEA;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 1rem;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}