@page "/order" 
@inject NavigationManager navigationManager
@inject MenuRepository MenuRepo  

<div class='Orders-screen'> 

    <h1>Orders</h1> 

    <h2>YOU (Guest 1)</h2>
    
            @foreach(var cartItem in CartScreen)
            {
                <div class='cartitem'>
                    <div class='cart-display'>
                        <img src=@cartItem.ImgLink>
                        <div style='padding: 1rem; flex-grow: 2;'>
                              <div class='priceset'>
                              <p style="margin-left:auto">$@cartItem.Price</p>
                                 </div>
                             <div class='itemselected'>
                                <p style="font-weight:bold; margin-right:auto">@cartItem.Name</p>
                                <p3> Delivered </p3>
                              
                            </div>
                           
                        </div>
                    </div>
                </div>

            }
                <div class='CalculateSubtotal'>
                     <p4>Subtotal</p4>
                </div> 
</div>

    @* starting my bill screen from here, (SUVRAT). *@
    <div class='bill_screen__container'>
        <div>
            <h3 style> Ready to Pay?</h3>
        </div>
        
        <div class='how_to_pay__container'> 
            <button class = 'entire_bill__button' @onclick=NavigateToEntireBill>Entire Bill</button>
            <button class = 'split_bill__button' @onclick=NavigateToSplitBill>Split the Bill</button>
        </div>
        <br />
    </div> 

@code 
{

   List<MenuCategory> categories = Enum.GetValues(typeof(MenuCategory)).Cast<MenuCategory>().ToList();

    public MenuCategory selectedCategory { get; set; }
    public List<MenuItem> CartScreen = new List<MenuItem>();


    protected override void OnInitialized()
    {
        selectedCategory = MenuCategory.Dinner;
        Showorder();

    }

    private void Showorder()
    {
        CartScreen = MenuRepo.GetMenuByCategory(selectedCategory);
    }

    private void NavigateToSplitBill() {
        navigationManager.NavigateTo("/SplitBill");
    }

    private void NavigateToEntireBill() {
        navigationManager.NavigateTo("/EntireBill");
    }

 }
