@page "/order/{NavigateFrom}/Payment"

@inject NavigationManager navigationManager

<button @onclick=BackToOrder>
    <span class="iconify" data-icon="ep:back" data-width="40" data-height="40"></span>
    Back to Billing
</button>

@if (NavigateFrom == "SplitBill") {
    <div class='wizard'>
        <span>
            <div class='shape'>1</div>
            <div>Split Bill</div>
        </span>
        <span>
            <div class='shape'>2</div>
            <div>Billing</div>
        </span>
        <span>
            <div class='active'>3</div>
            <div style='font-weight:bold'>Payment</div>
        </span>
        <span>
            <div class='shape'>4</div>
            <div>Review</div>
        </span>
        <div class="line-split"></div>
    </div>
}
else {
    <div class='wizard'>
        <span>
            <div class='shape'>1</div>
            <div>Billing</div>
        </span>
        <span>
            <div class='active'>2</div>
            <div style='font-weight:bold'>Payment</div>
        </span>
        <span>
            <div class='shape'>3</div>
            <div>Review</div>
        </span>
        <div class="line-entire"></div>
    </div>
}

<div @onclick='GoToReview'>
<h1>Payment</h1>
<div class='empty'>
    <span class="iconify" data-icon="bx:money-withdraw" data-width="150" data-height="150"></span>
    <br/><br/>
    <span>The waiter will arrive shortly to receive your payment.</span>
</div>


</div>

@code {
    [Parameter]
    public string NavigateFrom { get; set; }

    private void BackToOrder()
    {
        navigationManager.NavigateTo($"/order/{NavigateFrom}/Billing");
    }

    private void GoToReview()
    {
        navigationManager.NavigateTo("/order/" + NavigateFrom + "/Review");
    }
}
