h1 {
    text-align: center;
}

.empty {
    text-align: center;
    color: #575757;
}

    .empty.centered {
        position: absolute;
        top: 20vh;
    }

    .empty span {
        font-size: 30px;
    }

/* Wizard */

.wizard {
    width: 100%;
    margin-top: -15px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.line-entire {
    width: 145px;
    height: 47px;
    border-bottom: 5px solid black;
    position: absolute;
    z-index: 1;
}

.line-split {
    width: 300px;
    height: 47px;
    border-bottom: 5px solid black;
    position: absolute;
    z-index: 1;
}

.shape {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    background-color: #B9B9B9;
    width: 40px;
    height: 40px;
    color: black;
    border-radius: 50%;
    padding: 15px 20px;
    margin: 20px;
    border-style: solid;
    border-color: black;
    margin-bottom: 1px;
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    background-color: #F4A0A0;
    width: 40px;
    height: 40px;
    color: black;
    border-radius: 50%;
    padding: 15px 20px;
    margin: 20px;
    border-style: solid;
    border-color: black;
    margin-bottom: 1px;
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}