@page "/order/{NavigateFrom}/Review"
@layout Clear
@inject NavigationManager NavigationManager

@if (NavigateFrom == "SplitBill") {
    <div class='wizard'>
        <span>
            <div class='shape'>1</div>
            <div>Split Bill</div>
        </span>
        <span>
            <div class='shape'>2</div>
            <div>Billing</div>
        </span>
        <span>
            <div class='shape'>3</div>
            <div>Payment</div>
        </span>
        <span>
            <div class='active'>4</div>
            <div style='font-weight:bold'>Review</div>
        </span>
        <div class="line-split"></div>
    </div>  
}
else
{
    <div class='wizard'>
        <span>
            <div class='shape'>1</div>
            <div>Billing</div>
        </span>
        <span>
            <div class='shape'>2</div>
            <div>Payment</div>
        </span>
        <span>
            <div class='active'>3</div>
            <div style='font-weight:bold'>Review</div>
        </span>
        <div class="line-entire"></div>
    </div>  
}


<div class='body'>
    <div>
      <h1>Thank you for visiting</h1>
      <img src="/images/Bizo.gif" asp-append-version="true"/>
    </div>

    @*Rating*@
    <div>
        <h4>How was your dining experience?</h4>
        <div class='rating-container'>
              <div class='radio-button'>   
                    <input type="radio" name="rating" id='Happy'>
                    <label class='d-flex justify-content-between' for="Happy">
                        <span class="iconify" data-icon="akar-icons:face-happy"></span>
                    </label>
              </div>
               <div class='radio-button'>   
                    <input type="radio" name="rating" id='Neutral'>
                    <label class='d-flex justify-content-between' for="Neutral">
                        <span class="iconify" data-icon="akar-icons:face-neutral"></span>
                    </label>
              </div>
               <div class='radio-button'>   
                    <input type="radio" name="rating" id='Sad'>
                    <label class='d-flex justify-content-between' for="Sad">
                        <span class="iconify" data-icon="akar-icons:face-sad"></span>
                    </label>
              </div>
        </div>
    </div>
    

    @*Leave a Review*@
    <div>
        <h4>Let us know how we can improve!</h4>
        <textarea id="review-field" name="review-field" 
                cols="40" rows="3" 
                placeholder="Please take a moment to leave a review (Optional)"></textarea>
    </div>  

        @*Submit*@
    <button class='submit' @onclick=SubmitReview>Submit</button>
</div>


@code {
    [Parameter]
        public string NavigateFrom { get; set; }

    public async Task SubmitReview()
    {
        await ToggleTransition();
        NavigationManager.NavigateTo("/thanks", true);
    }

    public async Task ToggleTransition()
    {
        await Task.Delay(300);
    }

}
