@page "/thanks"
@layout Clear

<div class='body'>
    <h1>Thank You!</h1>
    <h1>We hope to see you again at </h1>
    <img src="/images/Bizo.gif" asp-append-version="true"/>
    <footer class="footer">
        Powered by SpeeDine 
    </footer>
</div>


@code {

}
