@page "/welcome"
@layout WelcomeLayout

<br/><br/>
<h1>Welcome to</h1>

(Bizo Bar and Grill photo)

<h3>This device is </h3>
<br/>
<h3>Guest 1</h3>
<br/><br/>
<h3>Tap anywhere to continue</h3>
<SurveyPrompt Title="How is Blazor working for you?" />

