#head-navbar[b-7cxxmz0cwl] {
    background: #D1913C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD194, #D1913C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD194, #D1913C); /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/
    width: 100%;
    height: 10%;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
  }
  .nav>li[b-7cxxmz0cwl] {
    display: inline-block;
    width:initial;
    float:left;
    white-space: nowrap;
  }
  .nav[b-7cxxmz0cwl] { 
    display: inline-block;
    font-size: 13px;
  }

  .logo[b-7cxxmz0cwl] {
      display:flex;
    
  }
 
  @media screen and (max-width:768px)
  {
    .nav.navbar-nav.pull-right[b-7cxxmz0cwl] { float:none !important; }

    