<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />


<nav class="navbar navbar-inverse navbar-fixed-top navbar-collapse" id="head-navbar">
  <ul class="nav navbar-nav">
    <li><a class="menu-link" href="menu">Menu</a>
    </li>
    <li><a class="cart-link" href="cart">Cart</a>
    </li>
    <li><a class="order-link" href="order">Order</a>
    </li>
    <li><a class="bill-link" href="bill">Bill</a>
    </li>
    <li><a class="callWaiter-link" href="callWaiter">Call Waiter</a>
    </li>
    <li><a class="help-link" href="help">Help</a>
    </li>
  </ul>
  
  <ul class="nav navbar-nav pull-right">
    @* <li><a href="#">DE</a>
    </li>
    <li><a href="#">IT</a>
    </li> *@
  </ul>
</nav>


@* <ul class = "items" flex-grow-1>
        <li>
            <NavLink class = "nav-link" href = "menu">
                Menu
            </NavLink>
        </li>
        <li>
            <NavLink class = "nav-link" href = "cart">
                Cart
            </NavLink>
        </li>
        <NavLink class = "nav-link" href = "order">
            Order
        </NavLink>
        <NavLink class = "nav-link" href = "bill">
            Bill
        </NavLink>
        <NavLink class = "nav-link" href = "callWaiter">
            Call Waiter
        </NavLink>
        <NavLink class = "nav-link" href = "help">
            Help
        </NavLink>
    </ul>    *@