<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />


<nav class="navbar navbar-inverse navbar-fixed-top navbar-collapse" id="head-navbar">
  <ul class="nav navbar-nav">
    
    <div class = "logo">
        @* For images on the top *@
        <span class="iconify" data-icon="carbon:notebook" data-width="30" data-height="30" style="margin-left:18px;">
            <a class="menu-link" href="menu"></a>
        </span>
        <span class="iconify" data-icon="ant-design:shopping-cart-outlined" data-width="30" data-height="30" style="margin-left:25px;">
            <a class="cart-link" href="cart"></a>
        </span>
        <span class="iconify" data-icon="emojione-monotone:fork-and-knife-with-plate" data-width="30" data-height="30" style="margin-left:30px;">
            <a class="order-link" href="order"></a>
        </span>
        <span class="iconify" data-icon="uil:bill" data-width="30" data-height="30" style="margin-left:30px;">
            <a class="bill-link" href="bill"></a>
        </span>
        <span class="iconify" data-icon="charm:person" data-width="30" data-height="30" style="margin-left:36px;">
            <a class="callWaiter-link" href="callWaiter"></a>
        </span>
        <span class="iconify" data-icon="bx:help-circle" data-width="30" data-height="30" style="margin-left:45px;">
            <a class="help-link" href="help"></a>
        </span>
    </div>
       <li><a class="menu-link" href="menu" style="color: black;">Menu</a>
    </li>
    <li><a class="cart-link" href="cart" style="color: black;">Cart</a>
    </li>
    <li><a class="order-link" href="order" style="color: black;">Order</a>
    </li>
    <li><a class="bill-link" href="bill" style="color: black;">Bill</a>
    </li>
    <li><a class="callWaiter-link" href="callWaiter" style="color: black;">Call Waiter</a>
    </li>
    <li><a class="help-link" href="help" style="color: black;">Help</a>
    </li>
  </ul>
  
  <ul class="nav navbar-nav pull-right">
    @* <li><a href="#">DE</a>
    </li>
    <li><a href="#">IT</a>
    </li> *@
  </ul>
</nav>


@* <ul class = "items" flex-grow-1>
        <li>
            <NavLink class = "nav-link" href = "menu">
                Menu
            </NavLink>
        </li>
        <li>
            <NavLink class = "nav-link" href = "cart">
                Cart
            </NavLink>
        </li>
        <NavLink class = "nav-link" href = "order">
            Order
        </NavLink>
        <NavLink class = "nav-link" href = "bill">
            Bill
        </NavLink>
        <NavLink class = "nav-link" href = "callWaiter">
            Call Waiter
        </NavLink>
        <NavLink class = "nav-link" href = "help">
            Help
        </NavLink>
    </ul>    *@