<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />


<nav class="navbar navbar-inverse navbar-fixed-top navbar-collapse" id="head-navbar">
  <ul class="nav navbar-nav">
    <li>
        <a class="menu-link" href="menu" style="color: black;">
             <span class="iconify" data-icon="carbon:notebook" data-width="30" data-height="30"></span>
            Menu
        </a>
    </li>
    <li>
        <a class="cart-link" href="cart" style="color: black;">
            <span class="iconify" data-icon="ant-design:shopping-cart-outline" data-width="30" data-height="30"></span>
            Cart
        </a>
    </li>
    <li>
        <a class="order-link" href="order" style="color: black;">
            <span class="iconify" data-icon="emojione-monotone:fork-and-knife-with-plate" data-width="30" data-height="30"></span>
            Order
        </a>
    </li>
    <li>
        <a class="bill-link" href="bill" style="color: black;">
            <span class="iconify" data-icon="uil:bill" data-width="30" data-height="30"></span>
            Bill
        </a>
    </li>
    <li>
        <a class="callWaiter-link" href="callWaiter" style="color: black;">
            <span class="iconify" data-icon="charm:person" data-width="30" data-height="30"></span>
            Call Waiter
        </a>
    </li>
    <li>
        <a class="help-link" href="help" style="color: black;">
             <span class="iconify" data-icon="bx:help-circle" data-width="30" data-height="30"></span>
            Help
        </a>
    </li>
  </ul>
  
  <ul class="nav navbar-nav pull-right">
    @* <li><a href="#">DE</a>
    </li>
    <li><a href="#">IT</a>
    </li> *@
  </ul>
</nav>